<h1>CREATORS</h1>
<hr>
<div class="row">
  {{#each creators}}
    <div class="col-md-4 mb-5">
      <div class="card" style="width: 18rem;">
        <img src="{{this.imgSrc}}" class="imgCreators" alt="{{this.name}}">
        <div class="card-body">
          <h5 class="card-name">{{this.name}}</h5>
          <p class="card-text">{{this.bio}}</p>
          <p class="card-text">{{this.ownedCollections}}</p>
          <p class="card-text">{{this.follows}}</p>
          <p class="card-text">{{this.favourites}}</p>
          <p class="card-text">{{this.following}}</p>
          <a href="/collections/{{this._id}}" class="btn btn-primary">More</a>
        </div>
      </div>
    </div>
  {{else}}
    <p>There are no creators yet!</p>
  {{/each}}
  <hr />
</div>