<h1>CREATORS</h1>
<hr>
<div class="row">
  {{#each creators}}
    <div class="col-md-3 mb-4">
      <div class="card">
        <img src="{{this.imgSrc}}" class="card-img-top" alt="{{this.name}}">
        <div class="card-body">
          <h5 class="card-name">{{this.name}}</h5>
          <p class="card-text">{{this.bio}}</p>
          <p class="card-text">{{this.name}} has {{this.ownedCollections.length}} collections</p>
          <a href="/collections/{{this._id}}" class="btn btn-primary">More</a>
        </div>
      </div>
    </div>
  {{else}}
    <p>There are no creators yet!</p>
  {{/each}}
  <hr />
</div>