<h1>{{title}}</h1>
<hr>
<div class="row">
  {{#each collection.collectionItems}}
    <div class="col-md-4 mb-5">
      <div class="card" style="width: 18rem;">
        <img src="{{itemSrc}}" class="card-img-top" >
        <div class="card-body">
          <h5 class="card-name">{{title}}</h5>
          <p class="card-text">{{description}}</p>
          <form action="/delete/item/{{_id}}" method="post">
          <button type="submit" class="btn btn-primary">Delete Item</button></form>
        </div>
      </div>
    </div>
  {{else}}
    <p>There are no items yet!</p>
  {{/each}}
  <a href="/create/item/{{collection._id}}" class="btn btn-primary">Create New Item</a>
  <hr />
</div>