<video autoplay muted loop id="background-video">
     <source src="/video/backgroundvideo.mp4" type="video/mp4">
</video>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div class="profileInfo">
    <div class="col-md-3 mb-4">
    <div class="userProfile">
        <h2 class="insidethebox" style="text-align:center" >User Update</h2>
        <form class='infoBox' action="/profile/update" method="post"  enctype="multipart/form-data">
            <img src="{{user.imgSrc}}">
            <label>Name: </label>
                <input type="text" name="name" value="{{user.name}}">
            <label>Email: </label>
                <input type="email" name="email" value="{{user.email}}">
            <label>Password: </label>
                <input type="password" name="password" value="********">
            <label>Bio: </label>
                <input type="textarea" name="bio" value="{{user.bio}}">
            <label>Image: </label>
                <input type="file" name="imgSrc" value="{{user.imgSrc}}">

            <button class='edit-btn' type="submit">Save Changes</button>
        </form>
    </div>
</div>
</div>
